<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beat-IT</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>

<body>
    <div>
        <header>
            <nav class="nav-extended">
                <div class="nav-wrapper">
                   <a href ="/"><img src="/images/beatItLogo-01.png" alt="beat-it-logo" /></a> 
                    <a href="/" class="brand-logo">Beat-IT</a>
                    
                    {{#if loggedIn}}
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li class="home"><a href="/">Home</a></li>
                      <li>  <button id="logout" class="btn-no-style ">Logout</button></li>
                    </ul>
                </div>
                <div class="nav-content">
                    <ul class="tabs">
                        <li class="tab"><a href="/dashboard">Create New Post</a></li>
                        <li class="tab"><a href="/your-posts">Your Posts</a></li>
                        <li class="tab"><a href="/activity">Activity</a></li>
                        <li class="tab"><a href="/settings/{{user.id}}">Settings</a></li>
                        {{else}}
                        
                        <ul id="nav-mobile" class="right hide-on-med-and-down">
                             <li class="home"><a href="/">Home</a></li>
                            <li class="login"><a href="/login">Login/SignUp</a></li>
                        </ul>

                        {{/if}}
                    </ul>
                </div>
            </nav>
        </header>
        <main>
            <p> {{user.username}} </p>
            {{{ body }}}
        </main>
        <footer class="page-footer">
            <h4 class="footer-color">Thanks for visiting!</h4>
        </footer>
    </div>
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>

</html>