<link rel="stylesheet" href="/stylesheets/autocomp.css">

<section>
  <h2>Create New Post</h2>
  <div class="card black darken-1">
    <div class="card-content">
      <form class="new-post-form" autocomplete="off" action="/action_page.php">
        <div id="form-form-form">
          <div class="autocomplete" style="width:100%;" id="autocomplete">
            <input type="text" id="searchTitleInput" name="songTitle" placeholder="Song Title">
          </div>
        </div>
        <div>
          <label for="song-artist">Song Artist</label>
          <input type="text" id="song-artist" name="song-artist" />
        </div>
        <div>
          <label for="song-url">Song Url</label>
          <input type="text" id="song-url" name="song-url" />
        </div>
        <div>
          <label for="review">Review (160 characters)</label>
          <input type="text" id="review" name="review" />
        </div>

<<<<<<< HEAD
  <form class="new-post-form" autocomplete="off" action="/action_page.php">
    <div id="form-form-form">
      <div class="autocomplete" style="width:100%;" id="autocomplete">
        <input id="searchTitleInput" name="songTitle" placeholder="Song Title">
      </div>
    </div>
    <div>
      <label for="song-artist">Song Artist</label>
      <input id="song-artist" name="song-artist" />
    </div>
    <div>
      <label for="song-url">Song Url</label>
      <input id="song-url" name="song-url" />
    </div>
    <div>
      <label for="review">Review (160 characters)</label>
      <input type="text" id="review" name="review" />
    </div>
    <h3>Rate your song!</h3>

    <div class="ratingValue" name="ratingValue">
      <label>
        <input name="rating" type="radio" value="1" />
        <span>1</span>
      </label>

      <label>
        <input name="rating" type="radio" value="2" />
        <span>2</span>
      </label>

      <label>
        <input name="rating" type="radio" value="3" />
        <span>3</span>
      </label>

      <label>
        <input name="rating" type="radio" value="4" />
        <span>4</span>
      </label>

      <label>
        <input name="rating" type="radio" value="5" />
        <span>5</span>
      </label>
    </div>
    <button type="submit" class="btn" id="submit-form-button">Create</button>
=======
        <h4>Rate your song!</h4>
        <div class="ratingValue" name="ratingValue">
          <label>
          <input name="rating" type="radio" value="1"/>
            <span><i class="material-icons">music_note</i></span>
          </label>

          <label>
            <input name="rating" type="radio" value="2" />
            <span><i class="material-icons">music_note</i></span>
          </label>

          <label>
            <input name="rating" type="radio" value="3" />
            <span><i class="material-icons">music_note</i></span>
          </label>

          <label>
            <input name="rating" type="radio" value="4" />
            <span><i class="material-icons">music_note</i></span>
          </label>

          <label>
            <input name="rating" type="radio" value="5" />
            <span><i class="material-icons">music_note</i></span>
          </label>
        </div>
        <button type="submit" class="waves-effect red lighten-2 btn" id="submit-form-button">Create</button>
    </div>
  </div>
>>>>>>> 05e6972b6ea1b1e39e1a132de64225cd5d2230c7
  </form>
</section>

<section>
  <h2>Your Posts</h2>
  <div class="card black darken-1">
    <div class="card-content">
      {{#if posts.length}}
        {{#each posts as |post|}}
        <div>
          {{> post-info post}}
        </div>
        <br>
        <div>
          <a href="/dashboard/edit/{{post.id}}" class="edit-link"><h6>Edit post</h6></a>
        </div>
        {{/each}}
      {{/if}}
    </div>
  </div>
</section>

<script src="/javascript/add-post.js"></script>
<script src="/javascript/input.js"></script>