<div>
    <h3> Edit post</h3>
    <form>
        <div>
            <input name="post-title" type="text" value="{{post.title}}" />
        </div>
        <div>
            <input name="review" type="text" value="{{post.review}}" class="form-input" />
        </div>
        <button type="submit">Save post</button>
        <button type="button" class="delete-post-btn">Delete post</button>
    </form>
</div>