<link rel="stylesheet" href="/stylesheets/autocomp.css">

<section>
    <h2>Create New Post</h2>
    <form class="new-post-form">
        <div>
            <label for="post-title">Song Title</label>
            <input id="post-title" name="post-title" />
        </div>
        <div>
            <label for="post-artist">Artist Name</label>
            <input id="post-artist" name="post-artist" />
        </div>
        <div>
            <label for="post-url">Song Url</label>
            <input id="post-url" name="post-url" />
        </div>
        <div>
            <label for="post-review">Review</label>
            <input id="post-review" name="post-review" />
        </div>
        <div>
            <label for="post-rate">Rating</label>
            <input id="post-rate" name="post-rate" />
        </div>
        <button type="submit" class="btn">Create</button>
    </form>
</section>