<section>
    <a href="/dashboard">Dashboard</a>
    <a href="/settings">Settings</a>
    <a href="/your-posts">Your Posts</a>
    <a href="/activity">Activity</a>

    <h2>Create New Post</h2>
    <form class="new-post-form">
        <div>
            <label for="post-song">Song Name</label>
            <input type="text" id="post-song" name="post-song" />
        </div>
        <div>
            <label for="post-artist">Artist</label>
            <input id="post-artist" name="post-artist" />
        </div>
        <div>
            <label for="post-review">Review</label>
            <input id="post-review" name="post-review" />
        </div>
        <div>
            <label for="post-rate">Rating</label>
            <input id="post-rate" name="post-rate" />
        </div>
        <button type="submit" class="btn">Create</button>
    </form>
</section>

