<section>
    <a href="/post">Dashboard</a>
    <a href="/settings">Settings</a>
    <a href="/your-posts">Your Posts</a>
    <a href="/activity">Activity</a>

    <div>
        <button>Change Password</button>
        <button>Change Email</button>
        <button>Delete Account</button>
    </div>
</section>