<section>
    <h4>Settings</h4>
    <div class="card black darken-1">
        <div class="card-content">
            <div>
                <button class="waves-effect red lighten-2 btn" type="submit">Change Password</button>
                <button class="waves-effect red lighten-2 btn" type="submit">Change Email</button>
                <button class="waves-effect red lighten-2 btn" type="submit">Delete Account</button>
            </div>
        </div>
    </div>
</section>