<section>
    <h1>Settings</h1>
    <div class="card black darken-1">
        <div class="card-content">
            <div>
                <button class="waves-effect red lighten-2 btn edit-password-btn" type="submit">Change Password</button>
                <button class="waves-effect red lighten-2 btn edit-email-btn" type="submit">Change Email</button>
                <button class="waves-effect red lighten-2 btn delete-user-btn" type="submit">Delete Account</button>
            </div>
        </div>
    </div>
</section>

<script src="/javascript/delete-account.js"></script>
<script src="/javascript/edit-password.js"></script>
<script src="/javascript/edit-email.js"></script>