<section>
    <a href="/post">Dashboard</a>
    <a href="/settings">Settings</a>
    <a href="/your-posts">Your Posts</a>
    <a href="/activity">Activity</a>

    <div>
        {{#if posts.length}}
        <section>
            <h2>Your Posts</h2>
            <ol>
                {{#each posts as |post|}}
                <li>
                    {{> post-info post}}
                    <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
                </li>
                {{/each}}
            </ol>
        </section>
        {{/if}}
    </div>
</section>