<section>
<<<<<<< HEAD
  <h1>Your Posts</h1>
=======
  <h2>Your Posts</h2>

>>>>>>> d4b34cd7e0e07f1a6050985170cc73dd29c5043c
  <div class="card black darken-1">
    <div class="card-content">
      {{#if posts.length}}
      {{#each posts as |post|}}
      <div class="your-post-card">
        {{> post-info post}}
        <a href="/dashboard/edit/{{post.id}}" class="edit-link">
          <h6>Edit post</h6>
        </a>
      </div>
      {{/each}}
      {{/if}}
    </div>
  </div>
</section>