* {
    box-sizing: border-box;
    color: white;
  }
  
  body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color:black;
    color:black;
  }
  
  a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color .1s;
  }
  
  a:hover {
    color: white;
    background-color: none;
  }
  
  button {
    background-color: #ff643d;
    border: 0;
    padding: 1%;
    color: white;
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #ff643d;
  }
  
  .post-list {
    margin: 0;
    padding: 0;
    border: white 2px solid;
  }
  
  textarea, input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  textarea:focus, input:focus {
    outline: none;
    border: 2px solid white;
  }
  
  textarea {
    min-width: 40%;
    min-height: 100px;
  }
  
  form > div {
    margin-bottom: 2%;
  }
  
  form label {
    display: block;
  }
  
  .wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  header {
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
  }
  
  header h1 {
    font-size: 1em;
  }
  
  main {
    flex: 1;
    padding: 2% 4%;
  }
  
  .btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: #ff643d;
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
    margin-left: 16px;
  }
  
  .btn-no-style:hover {
    background: none;
    color: white;
  }
  
  .delete-post-btn {
    background-color: #ff643d;
    color:white 
  }
  
  .delete-post-btn:hover {
    background-color: #ff643d;
    color: white;
  }
  
  .post {
    margin-bottom: 2%;
    line-height: 150%;
  }
  
  .post .title span {
    font-style: italic;
    font-size: 90%;
    color: #7d7d7d;
  }
  
  .edit-link {
    display: block;
    margin: -1.5% 0 2% 0;
  }
  
  .upvote-btn {
    background-color: #ff643d;
    transition: background-color .1s;
  }
  
  .upvote-btn:hover {
    background-color: #ff643d;
  }
  
  .comment-form {
    margin-bottom: 5%;
  }
  
  .comment {
    padding: 1%;
    margin-bottom: 1%;
  }
  
  .comment:nth-child(odd) {
    background-color: #fff5eb;
  }
  
  .comment .meta {
    font-size: 90%;
    margin-bottom: .5%;
    opacity: .6;
  }
  
  .new-post-form input {
    width: 75%;
  }
  
  .edit-post-form {
    margin-bottom: 5%;
  }
  
  footer {
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
  }

<<<<<<< HEAD
=======
  .nav-extended {
    background-color: black;
  }

  .nav-extended a { 
    color: #EA706C;
  }

  .page-footer{
    background-color: black;
  }
  
  .footer-color{
    color: #EA706C;
  }
  .card-content, 
 a{
    color: #EA706C;
  }

  /* .card-content{
    border-radius: 1px solid white;
  } */
>>>>>>> 2dac8d2992004c1c003ee96f7d127a9682f3aa15
  .edit{
    border:white 2px solid;

  }

<<<<<<< HEAD
  
=======
  
>>>>>>> 2dac8d2992004c1c003ee96f7d127a9682f3aa15
